.monument-card {
  border: 1px solid #e2a705;
  border-radius: 4px;
  padding: 20px;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px var(--shadow-color);
  max-height: 500px;
  min-height: 250px;

  @media (width < 500px) {
    min-width: 300px;
  }
}

.monument-card__name {
  color: #e2a705;
  text-shadow: 2px 2px 4px var(--shadow-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;

  @media (width < 500px) {
    font-size: 1.5rem;
  }
}

.monument-card__image {
  padding-bottom: 20px;
  width: 100%;
}

.monument-card__description {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  text-align: justify;

  @media (width < 500px) {
    font-size: 1rem;
  }
}

.monument-card__location {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}
